body{
  background-color: rgb(19, 71, 203);
}

.titulo1{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.titulo1 h1{
  color: rgb(237, 5, 5);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}